{% extends "./layout.html" %} 

{% block head %}
<link rel="stylesheet" href="/home/main.css">
{% endblock %}

{% block body %}

  {% block homeBanner %}
  {% endblock %}

<div class="show_time">
    <div class="feature-con">
        <ul class="feature fn-clear">
            <li class="feature-item">
                <a href="https://cn.vuejs.org" title="vue">
                    <i class="ico"></i>
                    <h4 class="tit">Vue.js</h4>
                </a>
            </li>
            <li class="feature-item">
                <a href="https://nuxtjs.org" title="nuxt">
                    <i class="ico"></i>
                    <h4 class="tit">Nuxt.js</h4>
                </a>
            </li>
            <li class="feature-item">
                <a href="http://weex.apache.org/cn/guide/" title="weex">
                    <i class="ico"></i>
                    <h4 class="tit">weex</h4>
                </a>
            </li>
            <li class="feature-item">
                <a href="http://mpvue.com" title="mpvue">
                    <i class="ico"></i>
                    <h4 class="tit">mpvue</h4>
                </a>
            </li>
        </ul>
        <ul class="feature fn-clear">
            <li class="feature-item">
                <a href="http://www.css88.com/react/" title="react">
                    <i class="ico"></i>
                    <h4 class="tit">React.js</h4>
                </a>
            </li>
            <li class="feature-item">
                <a href="http://www.redux.org.cn" title="redux">
                    <i class="ico"></i>
                    <h4 class="tit">Redux</h4>
                </a>
            </li>
            <li class="feature-item">
                <a href="https://nextjs.org/learn" title="nextjs">
                    <i class="ico"></i>
                    <h4 class="tit">Next.js</h4>
                </a>
            </li>
            <li class="feature-item">
                <a href="https://reactnative.cn/docs/0.51/getting-started.html" title="reactnative">
                    <i class="ico"></i>
                    <h4 class="tit">ReactNative</h4>
                </a>
            </li>
        </ul>
        <ul class="feature fn-clear">
            <li class="feature-item">
                <a href="https://nodejs.org/en/" title="Nodejs">
                    <i class="ico"></i>
                    <h4 class="tit">Nodejs</h4>
                </a>
            </li>
            <li class="feature-item">
                <a href="http://www.expressjs.com.cn" title="express">
                    <i class="ico"></i>
                    <h4 class="tit">Express</h4>
                </a>
            </li>
            <li class="feature-item">
                <a href="https://koa.bootcss.com/#request" title="koa">
                    <i class="ico"></i>
                    <h4 class="tit">Koa</h4>
                </a>
            </li>
            <li class="feature-item">
                <a href="http://eggjs.org" title="egg">
                    <i class="ico"></i>
                    <h4 class="tit">Egg</h4>
                </a>
            </li>
        </ul>
        <ul class="feature fn-clear">
            <li class="feature-item">
                <a href="https://www.webpackjs.com" title="webpack">
                    <i class="ico"></i>
                    <h4 class="tit">Webpack</h4>
                </a>
            </li>
            <li class="feature-item">
                <a href="https://www.gulpjs.com.cn" title="gulp">
                    <i class="ico"></i>
                    <h4 class="tit">Gulp</h4>
                </a>
            </li>
            <li class="feature-item">
                <a href="http://www.css88.com/doc/parcel/" title="parcel">
                    <i class="ico"></i>
                    <h4 class="tit">Parcel</h4>
                </a>
            </li>
            <li class="feature-item">
                <a href="http://www.mongodb.org.cn" title="MongoDB">
                    <i class="ico"></i>
                    <h4 class="tit">MongoDB</h4>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}